.fail { width: 100px; height:30px; border-style: solid; padding: 2px; float: left; margin: 2px; }

  .fail-button-color { color: blue; }

  

  #buttons { padding-top:60px; }

  h1{
  	color: blue;

  }

  body{
  	background-color: #808080;
  }

  p{
  	color: blue;
  }